<h3>Add</h3>
<form method="post" action="/amicao_db/add">
	<input type="text" name="name" placeholder="Add Name">
	<input type="text" name="email" placeholder="Add Email">
	<input type="submit" value="Add">
</form>
<h3>Amicao DB</h3>
<ul>
<% amicao_db.forEach(function(amicao_db){ %>
	<li><%= amicao_db.value.name %>
		<form method="post" action="/amicao_db/delete/<%= amicao_db.key %>">
		<input type="hidden" value="<%= amicao_db.value.rev %>" name="rev">
		<input type="submit" value="X">
		</form>
	</li>
<% }); %>
</ul>