.list-container {
    display: block;
    text-align: center;
}

.image-container {
    margin-top: 32px;
    width: 24%;
    height: 256px;
    display: inline-block;
    margin-left: 16px;
}

img {
    border-radius: 8px;    
    width: 90%;
    height: 236px;
}