#petshop-logo {
    height: 36px;
    width: 148px;
    float: left;
    margin-left: 24px;
    margin-top: 32px;
}

#shop-cart {
    height: 48px;
    width: 56px;
    float: right;
    margin-right: 32px;
    margin-top: 24px;
}

nav {
    background-color: #3F51B5;
    border-radius: 24px;
    width: 100%;
}

nav ul {
	padding-left: 24px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
    background: #303F9F;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block; 
    padding: 24px 32px;
    color: #FFFFFF; 
    text-decoration: none;
    font: 18px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
	display: none;    
	background: #536DFE; 
    border-radius: 0px; 
    padding: 0;
	position: absolute; 
    top: 100%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

nav ul ul li {
    float: none; 
    position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}	

nav ul ul li a:hover {
    background: #303F9F;
}
